<nav class="nav-wrapper">

    <div class="logo-wrapper">
        <div class="logo">
            <a href="#"><img src="../../../assets/img/coins.png" alt=""></a>
        </div>

        <div>
            <span class="logo-text">Cryptocurrency Dashboard</span>
        </div>
    </div>

    <ul class="navigation">
        <li class="nav-parent">
            <a class="link" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
        </li>
        <li class="nav-parent">
            <a class="link" routerLink="/portfolio" routerLinkActive="active">Portfolio</a>
        </li>
    </ul>

</nav>